<!-- <div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/users-icon.png" width="150px" class="user-avatar" />
            <h1>CAPYOT Admin Login</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control input-underline input-lg" id=""
                            placeholder="Username">
                    </div>
  
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control input-underline input-lg" id=""
                            placeholder="Password">
                    </div>
                </div>
                <div class="pt-5 text-right">
                    <button class="btn rounded-btn btn-block" (click)="login()" nbButton>login</button>
                </div>
                &nbsp;
            </form>
        </div>
    </div>
  </div> -->
<div class="login-page">
  <div class="col-welcome-login">
    <div class="row justify-content-md-center">
      <div class="col">
        <img src="/assets/images/new_logo.png" alt="" class="capyot-logo" />
      </div>
    </div>
    <nb-card>
      <div class="login-form">
        <!-- <p class="text-center"
            style="font-family: system-ui;font-size: 35px;color:white;padding-bottom:3rem;padding-top:3.5rem;font-weight:lighter;">
            <i>Sign in to continue</i>
          </p> -->
        <form (keyup.enter)="login($event)">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-addon"
                  ><i class="fa fa-user"></i
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="username"
                [ngModelOptions]="{ standalone: true }"
                placeholder="Username"
                required="required"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-addon"
                  ><i class="fa fa-lock"></i
                ></span>
              </div>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="password"
                [ngModelOptions]="{ standalone: true }"
                placeholder="Password"
                required="required"
              />
            </div>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn float-right login_btn"
              (click)="login()"
              style="font-family: system-ui;font-size: 20px;font-weight:lighter;border-radius:5px"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </nb-card>
  </div>
</div>
