<app-header></app-header>
<ion-content>
    <!-- <ion-input [(ngModel)]="autocomplete.query" shape="round" placeholder="Search" class="margin-left" (ionInput)="updateSearch()"><ion-icon name="search-outline"></ion-icon></ion-input> -->
    <!-- <ion-input [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()"
    (ionCancel)="dismiss()" placeholder="Start typing and select ...">
  </ion-input> -->
  <ion-searchbar [(ngModel)]="place" [showCancelButton]="focus" [ngModelOptions]="{standalone: true}"
  (ionChange)="search()" placeholder="Search destination...">
</ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" (click)="forwardGeocode(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map style="height :100%" [latitude]="lat" [longitude]="lng" [zoom] ="zoom">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> 
    </agm-map>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7Ec6_ufXf6JOE2acRu3-a6fLqYzos75M&callback=initMap"
        type="text/javascript"></script>
</ion-content>