<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" id="searchInput" (ionChange)="search()" placeholder="Input your desire destination"></ion-searchbar>
  <agm-map style="height :100%" [latitude]="lat" [longitude]="lng" [zoom] ="zoom">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> 
  </agm-map>
</ion-content>
