
  <div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <!-- <a class="logo" href="javascript:void(0)" (click)="navigateHome()">
        <img src="assets/images/capyot_logo.png" />
      </a> -->
    </div>
  </div>
  
  <div class="header-container">
    <nb-actions size="small">
      <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
        <nb-user [nbContextMenu]="menu"
                  onlyPicture="false"
                 [name]="user?.firstname"
                 [picture]="user?.picture">
        </nb-user>
      </nb-action>
    </nb-actions>
  </div>
  
