<ion-header>
  <ion-toolbar class="header">
   
    <!-- <ion-label (click)="home()">Home</ion-label> -->
  
      <img src="/assets/images/new_logo.png" alt="" class="capyot-logo-home" (click)="home()">

      <ion-buttons slot="end">
        <ion-tab-button (click)="notification()">
          <ion-icon name="notifications" ></ion-icon>
          <ng-container *ngIf="count!=0" >
            <ion-badge color="danger">{{count}}</ion-badge>
          </ng-container>
          <ng-container *ngIf="count===0" >
          </ng-container>
        </ion-tab-button>
      </ion-buttons>
    
    <ion-avatar slot="end" (click)="presentPopover()">
      <img src="/assets/images/bearsss.png" alt="" class="profile" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>
